body{
  /* margin: 0; */
  font-family: sans-serif;
  background-color: #efefef;
}

.banner {
  width: 100%;
  padding: 9rem 3rem;
  text-align: center;
  background-color: #1E98F7;
  background-blend-mode:  soft-light;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.banner h1 {
  color: #f1f1f1;

}

.container {
  width: 100%;
  height: 60px;
  background: #3d3d3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 5 rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.item-options {
  color: #f1f1f1;
  margin: 0 1.5rem;
  text-decoration: none;
}



.article {
  width: 70%;
}

.logo{
  width: 45px;
  margin: 0;
}

.logo img {
  width: 100%;
}

.main-container .imagen{
  width: 60px;
  height: 75px;
  /* border: 1px solid; */
}

/* aqui esta prueba */
.principal {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 5px;
}

.busqueda {
  padding-top: 5px;
}

.buscar {
  margin-top: 6px;
  padding: 4px 16px;
  font-size:16px;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:4px;
}

.card {
  display: flex; 
  flex-direction: row;
}

div{
  border: 1px solid black;
}

.item {
  height: 170px;
  width: 170px;
}

.item img{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
}

.descripcion {
  width: 280px;
  padding: 4px;
}

/* PAGINACION DE LOS CARDS DE PRODUCTOS */
.pagination{ 
  padding: 15px;
  text-align: center;
}

.pagination div {
  display: inline-block; 
  margin: 0 10px;
}

.pagination .page{
  color: gray;
}

.pagination .prev,.pagination .next {
  color:#000;
  border:1px solid #000;
  font-size: 15px;
  padding: 7px 15px;
  cursor: pointer;
}

.pagination .prev.disabled,
.pagination .next.disabled{
  border-color: gray;
  color: gray;
  pointer-events: none;
}

.gallery-items .card.hide {
  display: none;
  
}

.gallery-items .card.show {  
  animation: show .5s ease; 
}

@keyframes show {
  0%{
    opacity:0;
    transform: scale(0.9);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.barra-lateral {
  text-align: center;
  background-color: #1DB9F9;
}


